<nav class="navbar navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-btn">
            <button type="button" class="btn-toggle-offcanvas" (click)="toggleSideMenu()"><i
                    class="lnr lnr-menu fa fa-bars"></i></button>
        </div>

        <div class="navbar-brand">
            <a href="/application/heatbrain"><img src="assets/images/sobolt_logo.png" alt="Sobolt Logo"></a>
        </div>

        <div class="info" *ngIf="headerBar.thermogramCount > 0">
          [{{headerBar.thermogramIdx + 1}} / {{headerBar.thermogramCount}}] &mdash; {{headerBar.thermogramName}}
        </div>

        <div class="primary-actions">
            <div (click)="handlerSubmitLeaks()" class="btn-secondary heatbrain-btn">
              <a href="index.html" title="Werkomgeving verlaten en uitloggen">Uitloggen</a>
            </div>
            <button (click)="handlerSaveReportJson()"
                [disabled]="!reporter.reportGeneratable"
                class="btn-secondary heatbrain-btn"
                title="Sla JSON op voor dit thermogram">JSON Opslaan</button>
            <button (click)="handlerGenerateReport()"
                [disabled]="!reporter.reportGeneratable"
                class="btn-prim heatbrain-btn"
                title="Genereer een rapport aan de hand van de gevonden gebreken">Rapporteren</button>
        </div>
    </div>
</nav>
