<div id="wrapper">
	<div class="vertical-align-wrap">
		<div class="vertical-align-middle auth-main">
			<div class="auth-box">
				<div class="top">
				</div>
				<div class="card">
					<div class="header">
						<p class="lead">Create an account</p>
					</div>
					<div class="body">
						<form class="form-auth-small" #registrationForm="ngForm" (ngSubmit)="onSubmit()">
							<div class="form-group">
								<label for="signup-email" class="control-label sr-only">Email</label>
								<input type="email" class="form-control" id="signup-email" placeholder="Your email">
							</div>
							<div class="form-group">
								<label for="signup-password" class="control-label sr-only">Password</label>
								<input type="password" class="form-control" id="signup-password" placeholder="Password">
							</div>
							<button type="submit" class="btn btn-primary btn-lg btn-block">REGISTER</button>
							<div class="bottom">
								<span class="helper-text">Already have an account? <a [routerLink]="['/authentication/login']">Login</a></span>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
