<div class="thermogram-renderer">
  <ng-template #heatLeakDetails let-modal>
    <app-heatleak-details [heatLeak]="heatLeak" [classHierarchy]="classHierarchy"
                          (onRemove)="handlerRemove($event)"
                          (onRedraw)="handlerRedraw($event)"></app-heatleak-details>
  </ng-template>

  <div class="images" style="position: relative;"><!-- FIXME hardcoded width and height! Not consistent with canvas and img -->
    <!-- <pan-zoom [config]="panZoomConfigPanorama"> TODO: implement panzooming -->
      <canvas id="thermal" [hidden]="!thermogram.thermalOrOptical"></canvas>
      <img id="optical" src="{{thermogram.optical}}" [hidden]="thermogram.thermalOrOptical" width="{{thermogram.getThermalDims()[0]}}" height="{{thermogram.getThermalDims()[1]}}" />
      <polygon-canvas [(polygons)]="thermogram.detectionsShown" [drawPoints]="newHeatPoints"
                      (click)="addPolygonPoints($event)" [zoomLevel]="1"
                      (onSelection)="showDetails(heatLeakDetails, $event)"
                      [hidden]="!thermogram.thermalOrOptical"></polygon-canvas><!-- FIXME hardcoded width and height! Not consistent with canvas and img -->
    <!-- </pan-zoom> -->
  </div>

  <!--<div id="modalleakdetails" tabindex="-1" class="modal" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="model-content">
        <p>Klasse: </p>
        <p>Waarschijnlijkheid gebrek: </p>
        <div>
          <button>Hertekenen</button>
          <button>Verwijderen</button>
          <button type="button" class="close" data-dismiss="modal">Sluiten</button>
        </div>
      </div>
    </div>
  </div>-->
</div>
