/* General Styles */
body {
	background-color: $grey-50;
	font-family: $font-family;
	font-size: $font-size;
	font-weight: $font-weight;
	color: $font-color;
}

.body{
	&:before,
    &:after{
        height: 5px;
        width: 100%;
        position: fixed;
        content: '';
        z-index: 999;
    }
    &:before{
        top: 0;
    }
    &:after{
        bottom: 0;
    }
    &.full-dark{
        color: $theme-darkfont;
        background: $theme-dark;
        height: 100vh;

        .form-control,
        .input-group-text,
        .page-link,
        .btn-default,
        .custom-select,
        .custom-file-label{
            background-color: $theme-dark2;
            border-color: $theme-darkline;
        }
        .multiselect-dropdown .dropdown-btn,
        .btn-outline-secondary{
            border-color: $theme-darkline;
        }

        .navbar-nav .icon-menu i,
        .media .media-body .media-heading,
        .product_item .product_details h5 a{
            color: $theme-darkfont2;
        }

        .navbar .btn-toggle-offcanvas{
            color: $theme-darkfont2;
        }

        .table,
        .right_chat .media .name,
        .chat .chat-history .message-data-time,
        .single_post h3 a,
        .media .media-body{
            color: $theme-darkfont;
        }

        hr,
        .feeds_widget li,
        .list-widget .list-group-item,
        .table td, .table th,
        .mail-inbox .mail-left,
        .mail-inbox .mail-right .mail-list ul li,
        .mail-inbox .mail-right .mail-action .btn,
        .chat .chat-header,
        .chat-app .chat,
        .chat .chat-history,
        .file_manager .file .file-name,
        .nav-tabs-new>li>a,
        .nav-tabs-new2,
        .single_post2 .content .actions_sidebar a,
        .right-box .instagram-plugin li,
        .c_review li,
        .pricing li+li,
        .navbar-nav .dropdown-menu{
            border-color: $theme-darkline;
        }

        .list-group-item,
        .bd-example-border-utils [class^=border]{
            background-color: $theme-dark;
        }

        .mail-inbox{
            .mail-left .mail-side .nav li.active{
                background-color: $theme-dark;
                a{
                    color: $theme-darkfont2;
                }
            }
            .mail-right .mail-list ul li{
                .hover-action{
                    background: $theme-dark2;
                }
                &.unread{
                    background: $theme-dark;
                }
                .mail-detail-right h6 a{
                    color: $theme-darkfont2;
                }
            }
        }
        .table tr:hover{
            color: $theme-darkfont2;
        }
        .chat-widget li.left{
            .chat-info{
                background: $theme-dark;
                &::before{
                    border-right-color: $theme-dark;
                }
            }
        }
        .chat .chat-history .my-message{
            background-color: $theme-dark;
            color: $theme-darkfont;
            &:after{
                border-bottom-color: $theme-dark;
            }
        }
        .fc{
            .fc-view-container{
                .fc-view{
                    &.fc-basic-view .fc-body .fc-row .fc-bg,
                    &.fc-agenda .fc-body .fc-row .fc-bg,
                    &.fc-basic-view>table tbody tr td.fc-widget-content,
                    &.fc-agenda>table tbody tr td.fc-widget-content{
                        border-color: $theme-darkline;
                    }
                    &.fc-basic-view{
                        &>table{
                            &>thead{
                                tr{
                                    td.fc-widget-header{
                                        border-color: $theme-darkline;
                                    }
                                }
                            }
                        }
                    }
                    .fc-today{
                        background: #3b3b46;
                        border-left: $theme-darkline;
                    }
                    .fc-head{
                        border: $theme-darkline;
                    }
                }
                .fc-other-month{
                    background: $theme-dark;
                }
            }
        }
        .nav-tabs{
            border-color: $theme-darkline;
            .nav-link{
                &.active{
                    border-color: $theme-darkline $theme-darkline $theme-dark;
                }
            }
        }
        .new_timeline{
            >ul::before{
                background-color:  $theme-darkline;
            }
            .bullet{
                background:  $theme-darkline;
            }
        }
        .timeline-item{
            border-color: $theme-darkline;
            &:after{
                background-color: $theme-dark2;
            }
        }
        .table .thead-light th{
            background-color: $theme-darkline;
            color: $grey-200;
        }
        .progress{
            background-color: $theme-darkline;
        }
        .accordion.custom{
            .card-header{
                border-color: $theme-darkline;
                .btn{
                    color: $theme-darkfont2;
                }
            }
        }
        .people-list .chat-list li{
            &.active,
            &:hover{
                background: $theme-dark;
            }
        }

        .navbar-fixed-top{
            background: $theme-dark2;
            border-color: $theme-darkline;
        }
        .navbar-nav .icon-menu .notification-dot{
            background-color: $grey-100;
        }
        #left-sidebar{
            background: $theme-dark;
            .nav-tabs{
                border-color: $theme-darkline;
                .nav-link{
                    &.active{
                        border-color: $theme-darkline $theme-darkline $theme-dark;
                    }
                }
            }
        }
        .sidebar-nav{
            .metismenu{
                a{
                    color: $theme-darkfont;
                    &:hover,
                    &:focus,
                    &:active{
                        background-color: $theme-dark2;
                    }
                }
                >li{
                    .active a{
                        color: $theme-darkfont2;
                    }
                    &.active>a,
                    &.active>a:hover{
                        background-color: $theme-dark2;
                    }
                }
            }
        }
        .user-account{
            color: $theme-darkfont2;
        }
        #main-content{
            background: $theme-dark;
            .card{
                background: $theme-dark2;
                .header{
                    h2{
                        color: $theme-darkfont2;
                    }
                }
                .body{
                    color: $theme-darkfont;
                }
            }
        }
    }

    @include max-screen($break-medium) {
		&:before,
		&:after{
			height: 2px;
		}
	}
}

a {
	&:hover,
	&:focus {
		color: $link-color-hover;
		text-decoration: none;
	}
}

.inlineblock {display: inline-block;}
.displayblock {display: block;}
.displaynone {display: none; }
.overflowhidden{overflow: hidden;}
.z-index{ z-index: 9999;}
.br8{border-radius:8px; }
.p-10{padding: 10px; }
.pb-20{padding-bottom:20px;}
.pt-20{padding-top:20px;}

.l-green { background: linear-gradient(45deg, #9ce89d, #cdfa7e);}
.l-pink {background: linear-gradient(45deg, #ffc0cb, #fbc1cb);}
.l-turquoise {background: linear-gradient(45deg, #00ced1, #08e5e8);}
.l-cyan {background: linear-gradient(45deg, #49cdd0, #00bcd4);}
.l-khaki {background: linear-gradient(45deg, #f0e68c, #fdf181);}
.l-coral {background: linear-gradient(45deg, #f08080, #f58787);}
.l-salmon {background: linear-gradient(45deg, #ec74a1, #fbc7c0);}
.l-blue {background: linear-gradient(45deg, #72c2ff, #86f0ff);}
.l-seagreen {background: linear-gradient(45deg, #8ed8ec, #85f7b5);}
.l-amber {background: linear-gradient(45deg, #fda582, #f7cf68);}
.l-blush {background: linear-gradient(45deg, #dd5e89, #f7bb97);}
.l-parpl {background: linear-gradient(45deg, #a890d3, #edbae7);}
.l-slategray {background: linear-gradient(45deg, #708090, #7c8ea0);}

.xl-pink{background: #f9edee;}
.xl-turquoise{background: #bdf3f5;}
.xl-khaki{background: #f9f1d8;}
.xl-parpl{background: #efebf4;}
.xl-salmon{background: #ffd4c3;}
.xl-blue{background: #e0eff5;}
.xl-seagreen{background: #ebf2e8;}
.xl-slategray{background: #eceeef;}

.page-title {
	margin-top: 0;
	margin-bottom: 30px;
	font-size: 24px;
	font-weight: $font-weight-400;
}

footer {
	padding: 0 30px;
	padding-bottom: 15px;
	position: absolute;
	right: 0;

	@include max-screen($break-small) {
		position: relative;
		text-align: center;
	}
}

.copyright {
	margin-bottom: 0;
	font-size: 13px;
}

.btn-default{
    color: $grey-600;
    background-color: $col-white;
    border-color: $grey-300;
    padding: 6px 18px;
}

.btn-toolbar>.btn-group{@extend .m-l-5;}

.navbar>.container,
.navbar>.container-fluid{
    flex-wrap: nowrap;
}

@media only screen and (max-width: 767px) {
	.hidden-xs{
		display: none;
	}
}

@media only screen and (max-width: $break-medium) {
	.hidden-sm{
		display: none;
	}
}

@media only screen and (max-width: $break-1024) {
	.hidden-md{
		display: none;
	}
}
