// Custom styleguide
$sg-bg-color: #FBFCF1;
$sg-menu-bg-color: #44D62C;
$sg-menu-bg-color-hover: #44D62C;

$sg-color-1: #44D62C;
$sg-color-2: #6931B3;
$sg-color-3: #FFC634;

$sg-text-color-dark:#1D252D;
$sg-text-color-dark-hover:#fff;
$sg-text-color-light:#fff;
$sg-text-color-light-hover:#1D252D;

$sg-button-bg-primary:#44D62C;
$sg-button-color-primary:#44D62C;
$sg-button-border-primary:#44D62C;
$sg-button-bg-primary-hover:#44D62C;
$sg-button-color-primary-hover:#44D62C;
$sg-button-border-primary-hover:#44D62C;

$sg-button-bg-secondary:#44D62C;
$sg-button-color-secondary:#44D62C;
$sg-button-border-secondary:#44D62C;

$sg-button-bg-secondary-hover:#44D62C;
$sg-button-color-secondary-hover:#44D62C;
$sg-button-border-secondary-hover:#44D62C;

$font-color: #44D62C;
