h1 {font: 600 56px 'Poppins', sans-serif; color:$sg-color-1}
h2 {font: 600 36px 'Poppins', sans-serif; color:$sg-text-color-dark}
h3 {font: 600 24px 'Poppins', sans-serif; color:$sg-color-1}
h4 {font: 600 21px 'Poppins', sans-serif; color:$sg-text-color-dark}
h5 {font: 600 20px 'Poppins', sans-serif; color:$sg-text-color-dark}
h6 {font: 600 19px 'Poppins', sans-serif; color:$sg-text-color-dark}
p {font: 400 18px 'Poppins', sans-serif; color:$sg-text-color-dark}
body {background-color: $sg-bg-color}

.sg-bg-color {background-color: $sg-bg-color}
.sg-bg-color-text {color: $sg-bg-color}

.sg-color-1 {color:$sg-color-1}
.sg-color-1-bg {background-color:$sg-color-1}

.sg-color-2 {color:$sg-color-2}
.sg-color-2-bg {background-color:$sg-color-2}

.sg-color-3 {color:$sg-color-3}
.sg-color-3-bg {background-color:$sg-color-3}

.sg-text-color-dark {color:$sg-text-color-dark}

.sg-menu-bg{background-color: #fff}

.btn-prim{
	width: 180px;
	height: 56px;
	border-radius: 6px;
	background-color:$color-primary;
	text-align:center;
	font-size:19px;
	font-weight:600;
}

.btn-prim > a{
	color:white;
	display:inline-block;
	width:100%;
	line-height:56px;
}

.btn-prim:hover, .btn-prim:active{
	background-color: white;
}

.btn-prim:hover > a{
	color:$color-primary;
}

.btn-secondary {
	width: 180px;
	height: 56px;
	border-radius: 6px;
	background-color:white;
	text-align:center;
	font-size:19px;
	font-weight:600;
	border: 2px solid $color-primary;
}

.btn-secondary > a{
	color: $color-primary;
	display:inline-block;
	width:100%;
	line-height:52px;
}

.btn-secondary:hover, .btn-secondary:active{
	background-color:$color-primary;
	border-color:$color-primary;
}

.btn-secondary:hover > a{
	color:white
}

.logo-sobolt {
	background:url('../images/sobolt_logo.svg') no-repeat;
	--width:96px;
	width:var(--width);
	height:calc(var(--width)/96*24);
	background-size: 100% 100%;
}

.primary-color{
	color:$color-primary;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% {  transform: rotate(359deg); }
}

.loading {
		width:100px;
    animation: spin 3s linear infinite;
		position:relative;
		display:block;
		margin-left:auto;
		margin-right:auto;
		margin-top:calc(50vh - 50px);
		margin-bottom:calc(50vh - 50px);
}
