<div id="wrapper">
  <div class="vertical-align-wrap">
    <div class="vertical-align-middle auth-main">
      <div class="auth-box">
        <div class="top"></div>
        <div class="card">
          <div class="header"><p class="lead">Log in met je account</p></div>
          <div class="body">
            <form
              class="form-auth-small"
              #loginForm="ngForm"
              (ngSubmit)="onSubmit(loginForm)"
            >
              <div class="form-group">
                <label for="signin-email" class="control-label sr-only"
                  >Email</label
                >
                <input
                  type="email"
                  class="form-control"
                  id="signin-email"
                  name="email"
                  placeholder="Email"
                  ngModel
                />
              </div>
              <div class="form-group">
                <label for="signin-password" class="control-label sr-only"
                  >Wachtwoord</label
                >
                <input
                  type="password"
                  class="form-control"
                  id="signin-password"
                  name="password"
                  placeholder="Wachwoord"
                  ngModel
                />
              </div>
              <button type="submit" class="btn btn-primary btn-lg btn-block">
                Inloggen
              </button>
              <div (click)="onDemoClick()" class="btn btn-success btn-lg btn-block">
                Of nu proberen
              </div>
              <div class="bottom">
                <span class="helper-text m-b-10"
                  ><i class="fa fa-lock"></i>&nbsp;<a
                    [routerLink]="['/authentication/forgot-password']"
                    >Wachtwoord vergeten?</a
                  ></span
                >
                <span
                  >Geen account?
                  <a [routerLink]="['/authentication/register']"> Registreer</a>
                  je</span
                >
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
