<div class="container-fluid" *ngIf="!isResizing">
  <div class="block-header">
    <div class="row">
      <div class="col-lg-5 col-md-8 col-sm-12">
        <h2>
          <a
            href="javascript:void(0);"
            class="btn btn-xs btn-link btn-toggle-fullwidth"
            (click)="toggleFullWidth()"
          >
            <i class="fa fa-arrow-left" *ngIf="sidebarVisible"></i>
            <i class="fa fa-arrow-right" *ngIf="!sidebarVisible"></i>
          </a>
          Overview
        </h2>
      </div>
    </div>
  </div>

  <div class="row clearfix">
    <div class="col-lg-12 col-md-12">
      <div class="card planned_task">
        <div class="body">
          <h3>Welcome to the Sobolt Template dashboard</h3>
          <p>
            You can now start building the next Sobolt web application. Happy
            hacking!
          </p>
          <lib-sobolt-lib></lib-sobolt-lib>
        </div>
      </div>
    </div>
  </div>
</div>
