<div class="container-fluid" *ngIf="!isResizing">
  <div *ngIf="thermograms.length == 0">
    <div class="block-header">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
        </div>
      </div>
    </div>

    <div class="row clearfix">
      <div class="col-lg-12 col-md-12">
        <div class="card">
          <div class="body">
            <div id="submission-area">
                <ngx-file-drop dropZoneLabel="Sleep thermogrammen hierheen"
                        (onFileDrop)="handlerFileDropped($event)" dropZoneClassName="file-drop-drop-zone"
                        contentClassName="file-drop-content"
                        browseBtnClassName="file-drop-btn heatbrain-btn" [showBrowseBtn]="true"
                        browseBtnLabel="Of klik hier om thermogrammen te openen" multiple="true">
                </ngx-file-drop>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div style="text-align:center;" *ngIf="queryingAIPI">
    <svg xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg"
         xmlns:xlink="http://www.w3.org/1999/xlink" version="1.0" width="256px"
         height="256px" viewBox="0 0 128 128" xml:space="preserve" style="margin: 50px;">
      <g>
        <path d="M78.75 16.18V1.56a64.1 64.1 0 0 1 47.7 47.7H111.8a49.98 49.98 0 0 0-33.07-33.08zM16.43 49.25H1.8a64.1 64.1 0 0 1 47.7-47.7V16.2a49.98 49.98 0 0 0-33.07 33.07zm33.07 62.32v14.62A64.1 64.1 0 0 1 1.8 78.5h14.63a49.98 49.98 0 0 0 33.07 33.07zm62.32-33.07h14.62a64.1 64.1 0 0 1-47.7 47.7v-14.63a49.98 49.98 0 0 0 33.08-33.07z"
              fill="#44d62c" fill-opacity="1"/>
        <animateTransform attributeName="transform" type="rotate" from="0 64 64"
                          to="90 64 64" dur="1800ms" repeatCount="indefinite"></animateTransform>
      </g>
    </svg>
    <p>Bezig thermogram helemaal door te lichten, een moment...</p>
  </div>

  <div *ngIf="thermograms.length > 0 && thermogramIdx !== undefined">
    <div class="block-header">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12" style="text-align: center;">
          <div class="card" style="padding: 10px;">
            <label for="min-percentile">Min: {{thermograms[thermogramIdx].minPercentile | percent}} ({{getCurrentThermogram().calcMinTemp().toFixed(1)}} °C)</label><input id="min-percentile" type="range" min="0" max="1" step="0.01" [(ngModel)]="thermograms[thermogramIdx].minPercentile" [disabled]="!thermograms[thermogramIdx].thermalOrOptical">
            <!--<button class="heatbrain-btn btn-secondary" style="display: inline-block;" (click)="handlerResetLeaks()" title="Verwijder alle aapassingen en herstel de oorspronkelijk gedetecteerde gebreken" [disabled]="isModifying()|| !thermograms[thermogramIdx].thermalOrOptical">Herstellen</button>-->
            <button class="heatbrain-btn btn-secondary" style="display: inline-block; width: 12em" (click)="handlerEnableAddingLeak()" *ngIf="!isModifying()" title="Teken en categoriseer een nieuw gebrek" [disabled]="isModifying() || !thermograms[thermogramIdx].thermalOrOptical">Gebrek toevoegen</button>
            <div class="btn-box" *ngIf="isModifying()">
              <button class="heatbrain-btn btn-secondary" style="width: 50%;" (click)="handlerUndo()" title="Laatst toegevoegde punt verwijderen">⮌</button>
              <button class="heatbrain-btn btn-secondary" style="width: 50%" (click)="handlerCancelAddingLeak()" title="(Her)tekenen van gebrek annuleren">✘</button>
            </div>
            <button class="heatbrain-btn btn-secondary" style="display: inline-block; width: 9em;" (click)="handlerToggleShownImage()" *ngIf="thermograms[thermogramIdx].thermalOrOptical" title="Toon de normale foto" [disabled]="isModifying()">Foto</button>
            <button class="heatbrain-btn btn-secondary" style="display: inline-block; width: 9em;" (click)="handlerToggleShownImage()" *ngIf="thermograms[thermogramIdx].thermalOrOptical == false" [disabled]="isModifying()" title="Toon het thermogram">Thermogram</button>
            <input disabled id="max-percentile" type="range" min="0" max="1" step="0.01" [(ngModel)]="thermograms[thermogramIdx].maxPercentile" [disabled]="!thermograms[thermogramIdx].thermalOrOptical"><label for="max-percentile">Max: <!--{{thermograms[thermogramIdx].maxPercentile | percent}}--> ({{getCurrentThermogram().calcMaxTemp().toFixed(1)}} °C)</label>
          </div>
        </div>
      </div>
    </div>

    <div class="row clearfix">
      <div class="col-lg-12 col-md-12">
        <div class="card">
          <div class="body">
            <button class="heatbrain-btn btn-secondary" style="display: inline-block; float: left;" (click)="setThermogram(thermogramIdx-1); showResults();" [disabled]="thermogramIdx == 0 || isModifying()" title="Toon het vorige thermogram">Vorige</button>
            <button class="heatbrain-btn btn-secondary" style="display: inline-block; float: right;" (click)="setThermogram(thermogramIdx+1); showResults();" [disabled]="thermogramIdx == thermograms.length-1 || isModifying()" title="Toon het volgende thermogram">Volgende</button>
            <!--<button (click)="handlerSubmitLeaks()" title="Meld deze gebreken bij Sobolt">Gebreken melden</button>-->
            <app-thermogram-renderer [thermogram]="thermograms[thermogramIdx]"
                                     [(addingLeak)]="addingLeak"
                                     [(editingLeak)]="editingLeak"
                                     [classHierarchy]="classHierarchy"></app-thermogram-renderer>
          </div>
        </div>
      </div>
    </div>

    <div class="row clearfix">
        <div class="col-12">
            <div class="card" style="text-align: center; padding: 6px;">
                <button style="display: inline-block" class="heatbrain-btn btn-secondary" (click)="handlerToggleClassNames()">Klassen wel/niet</button>
            </div>
        </div>
    </div>
  </div>

  <ng-template #reportDetails let-modal>
    <div id="reportDetails" style="margin: 20px;">
      <p><label for="addressField">Adres</label><input type="text" id="addressField" #addressField [(ngModel)]="address" required /></p>
      <p><label for="cityField">Woonplaats</label><input type="text" id="cityField" #cityField [(ngModel)]="city" required /></p>
      <p>
        <input id="dateCheckBox" type="checkbox" [(ngModel)]="dateEnabled" />&nbsp;
        <label for="dateCheckBox" >Aangepaste datum gebruiken</label>
        <input id="dateField" [disabled]="!dateEnabled" #dateField [ngModel]="date | date:'yyyy-MM-dd'" (ngModelChange)="date = $event" type="date" name="date" required style="text-align: right;" />
      </p>
      <p>
        <input id="knmiCheckBox" type="checkbox" [(ngModel)]="knmiEnabled" />&nbsp;
        <label for="knmiCheckBox">Specifiek KNMI station instellen</label>
        <input type="text" [disabled]="!knmiEnabled" id="knmiField" #knmiField [(ngModel)]="knmi" style="text-align: right;" />
      </p>
      <p>
        <label for="palette">Kleurenpalet</label>&nbsp;
        <select id="palette" [(ngModel)]="palette" required>
            <!-- Naming convention: <source prefix>-<palette name>. For example,
                 for the jet palette in matplotlib it is mpl-jet.
                 Use x as the prefix for palettes that we define ourselves, such
                 as rainbow.
            -->
            <option value="x-rainbow">Regenboog</option>
            <option value="mpl-jet">Jet (Matplotlib)</option>
            <option value="mpl-inferno">Inferno (Matplotlib)</option>
            <option value="mpl-gray">Grijswaarden</option>
        </select>
      </p>
      <p>
        <label for="lengthReport">Rapportlengte</label>&nbsp;
        <select id="lengthReport" [(ngModel)]="lengthReport" required>
            <option value="short">Kort</option>
            <option value="long">Lang</option>
        </select>
      </p>
      <p>
        <label for="typeReport">Pilot</label>&nbsp;
        <select id="typeReport" [(ngModel)]="typeReport" required>
            <option value="Sobolt">Sobolt</option>
            <option value="Sobolt-old2">Sobolt (alternatief 1)</option>
            <option value="Sobolt-old3">Sobolt (alternatief 2)</option>
            <option value="Apeldoorn">Apeldoorn</option>
            <option value="Emmen">Emmen</option>
            <option value="Groningen">Groningen</option>
            <option value="WoonWijzerWinkel">WoonWijzerWinkel</option>
        </select>
      </p>
      <p style="float: right; margin-top: 10px;">
        <button type="button" (click)="reportDetailsDialogRef.dismiss()" class="btn-secondary heatbrain-btn">Terug naar rapport opstellen</button>
        <button type="button" (click)="reportDetailsDialogRef.close()" [disabled]="!validInputReportDetailsDialog(addressField, cityField, dateField)" class="btn-prim heatbrain-btn">Rapport genereren</button>
      </p>
    </div>
  </ng-template>
</div>
