.green-drop-zone {
  color: #44D62C;
  border-color: #44D62C;
}

input[type="range"] {
  vertical-align: middle;
  margin: 0px 4px;
}
input[type="range"]#min-percentile,
label[for="max-percentile"] {
  margin-right: 4px;
}
input[type="range"]#max-percentile,
label[for="min-percentile"] {
  margin-left: 4px;
}
label {
  font-weight: normal;
}

#reportDetails p {
  margin: 0px;
  padding: 0px;
}

#reportDetails p > label {
  display: inline-block;
  margin: 6px 0px;
}

#reportDetails p > label + * {
  display: block;
  width: 100%;
}
