<div>
    <select (change)="update(depth0, 1, selectField.value);" #selectField style="display: block;" value="{{key0}}">
        <option value="" disabled></option>
        <option value="{{class.key}}" *ngFor="let class of depth0 | keyvalue">{{class.value.class_name | formatclass | titlecase}}</option>
    </select>

    <select (change)="update(depth1, 2, selectField.value);" #selectField style="display: block;" *ngIf="depth1" value="{{key1}}">
        <option value=""></option>
        <option value="{{class.key}}" *ngFor="let class of depth1 | keyvalue">{{class.value.class_name | formatclass | titlecase}}</option>
    </select>

    <select (change)="update(depth2, 3, selectField.value);" #selectField style="display: block;" *ngIf="depth2" value="{{key2}}">
        <option value=""></option>
        <option value="{{class.key}}" *ngFor="let class of depth2 | keyvalue">{{class.value.class_name | formatclass | titlecase}}</option>
    </select>

    <select (change)="update(depth3, 4, selectField.value);" #selectField style="display: block;" *ngIf="depth3" value="{{key3}}">
        <option value=""></option>
        <option value="{{class.key}}" *ngFor="let class of depth3 | keyvalue">{{class.value.class_name | formatclass | titlecase}}</option>
    </select>

    <select (change)="update(depth4, 5, selectField.value);" #selectField style="display: block;"  *ngIf="depth4" value="{{key4}}">
        <option value=""></option>
        <option value="{{class.key}}" *ngFor="let class of depth4 | keyvalue">{{class.value.class_name | formatclass | titlecase}}</option>
    </select>

    <select (change)="update(depth5, 6, selectField.value);" #selectField style="display: block;"  *ngIf="depth5" value="{{key5}}">
        <option value=""></option>
        <option value="{{class.key}}" *ngFor="let class of depth5 | keyvalue">{{class.value.class_name | formatclass | titlecase}}</option>
    </select>
</div>
