/* You can add global styles to this file, and also import other style files */
.echart-line-chart {
    height: 3em;
    width: 8em;
}
.echart-line-chart-area {
    height: 50px;
}
.fix-h-292{
    height:292px !important;
}
.echart-doughnut { width:150px;height:150px;margin:0 auto;}

.cwidget-scroll{
    height: 260px;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.sidebar {
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
}
.sidebar::-webkit-scrollbar, .cwidget-scroll::-webkit-scrollbar { /* WebKit */
    width: 0px;
}
.parsley-errors-list {
    list-style-type: none;
    line-height: 0.9em;
    padding-left: 5px;
}

div.heatbrain-btn, input.heatbrain-btn, button.heatbrain-btn {
  font-size: 14px;
  height: 40px;
  width: auto;
  margin: 0px 4px;
}

button.heatbrain-btn.btn-prim:not([disabled]) {
  color: white;
  border: 2px solid #44D62C;
}

button.heatbrain-btn.btn-prim:hover:not([disabled]),
button.btn-secondary {
  color: #44D62C;
}

button.heatbrain-btn:disabled,
button.heatbrain-btn[disabled] {
  color: white !important;
  background-color: #6c757d !important;
  border: 2px solid #6c757d !important;
}

div.heatbrain-btn > a {
  font-size: 14px;
  line-height: 40px;
  padding: 0px 14px;
}

div.heatbrain-btn.btn-secondary > a,
button.heatbrain-btn.btn-secondary,
button.heatbrain-btn.btn-secondary {
  line-height: 36px;
  /*color: #44D62C;*/
}

.form-control,.custom-file-input{
    height:auto;
}
.file-drop-drop-zone {
  color: #44D62C;
  border: 1px dotted #44D62C;
  border-radius: 6px;
  width: 50%;
  padding: 50px 50px 20px 50px;
  margin: 0px auto;
  font-size: 14pt;
}

.file-drop-btn {
  color: #44D62C;
  border: 2px solid #44D62C;
  border-radius: 6px;
  margin: 30px 0px 0px -30px !important;
  background: white;
}

.file-drop-btn:hover {
  color: white;
  background-color: #44D62C;
}

svg > polygon.sobolt-green {
  stroke: #44D62C !important;
  stroke-width: 2px !important;
  fill: rgba(255, 255, 255, .2) !important;
}

svg > polygon.deemphasized {
  opacity: 0.2;
}

svg > polygon.sobolt-green:hover:not(.deemphasized) {
  fill: rgba(255, 255, 255, .4) !important;
}

svg > line {
  stroke: #44D62C !important;
  stroke-width: 2px !important;
}

.btn-box {
  margin: 0px 4px;
  display:inline-block;
  width: 12em;
  font-size: 14px;
}
.btn-box > button {
  margin: 0px;
  display: inline-block;
  border-left: 0px;
  border-radius: 0px;
  padding: 0px;
}
.btn-box > button:first-child {
  border-left: 2px solid #44D62C;
  border-radius: 6px 0px 0px 6px;
}
.btn-box > button:last-child {
  border-radius: 0px 6px 6px 0px;
}
