<div class="container-fluid">

	<div class="block-header">
		<div class="row">
			<div class="col-lg-5 col-md-8 col-sm-12">
				<h2>
					<a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth" (click)="toggleFullWidth()">
						<i class="fa fa-arrow-left" *ngIf="sidebarVisible"></i>
						<i class="fa fa-arrow-right" *ngIf="!sidebarVisible"></i>
					</a>
					User Profile
				</h2>
			</div>
		</div>
	</div>

	<div class="row clearfix">
		<div class="col-lg-12">
			<div class="card">
				<div class="body">
					<h6>Profile Photo</h6>
					<div class="media">
						<div class="media-left m-r-15">
							<img src="assets/images/user.png" class="user-photo media-object" alt="User">
						</div>
						<div class="media-body">
							<p>Upload your photo.
								<br> <em>Image should be at least 140px x 140px</em></p>
							<button type="button" class="btn btn-default-dark" id="btn-upload-photo">Upload Photo</button>
							<input type="file" id="filePhoto" class="sr-only">
						</div>
					</div>
				</div>
				<div class="body">
					<div class="row clearfix">
						<div class="col-lg-6 col-md-12">
							<h6>Account Data</h6>
							<div class="form-group">
								<input type="text" class="form-control" value="User Name" disabled placeholder="Username">
							</div>
							<div class="form-group">
								<input type="email" class="form-control" value="user.name@yourdomain.com" placeholder="Email">
							</div>
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Phone Number">
							</div>
						</div>

						<div class="col-lg-6 col-md-12">
							<h6>Change Password</h6>
							<div class="form-group">
								<input type="password" class="form-control" placeholder="Current Password">
							</div>
							<div class="form-group">
								<input type="password" class="form-control" placeholder="New Password">
							</div>
							<div class="form-group">
								<input type="password" class="form-control" placeholder="Confirm New Password">
							</div>
						</div>
					</div>
					<button type="button" class="btn btn-primary">Update</button> &nbsp;&nbsp;
					<button class="btn btn-default">Cancel</button>
				</div>
			</div>
		</div>
	</div>
</div>
