<div style="padding:20px;">
  <div>
    <button class="heatbrain-btn btn-secondary" (click)="handlerRedraw()">Hertekenen</button>
    <button class="heatbrain-btn btn-secondary" (click)="handlerRemove()">Verwijderen</button>
  </div>
  <div>
    <p>
      <span type="display: block;">Klasse:</span>
      <heatbrain-class-selector [classHierarchy]="classHierarchy" [heatLeak]="heatLeak" (onClassCodeChange)="handlerClassCodeChanged($event)"></heatbrain-class-selector>
    </p>
    <!--<p>Waarschijnlijkheid gebrek: {{selectedDefect.probabilityPercentage}}%</p>-->
  </div>
</div>
